.navbar {
    background-color: rgb(74, 54, 47);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a {
    color: black;
}
.navbar-default .navbar-brand {
    color: black;
}

.jumbotron {
    background-color: rgb(183, 174, 143);
    color: rgb(74, 54, 47);
}
 body {
     background-color: rgb(183, 174, 143);
 }

 .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #A2825C;
}

.table {
    background-color: #f2f2f2;
}

.navbar-default .navbar-nav>li>a {
    color: #cc9966;
}

.navbar-default .navbar-brand {
    color: #cc9966;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
}

.navbar-default .navbar-brand {
    color: white !important;
}

th, .panel-heading {
    background-color: #A2825C !important;
}

.panel-heading {
    color: white !important;
}

.btn-drink {
    margin-right: 1em;
    margin-bottom: 1em;
}

.form-quantity {
    width: 7em;
}
