.navbar {
    background-color: #00e6e6;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a {
    color: black;
}
.navbar-default .navbar-brand {
    color: black;
}

.jumbotron {
    background-color: #cc9966;
    color: white;
}
 body {
     background-color: #cc9966;
 }
