<div class="panel pane-defaul">
    <div class="panel-heading">
        Edit Sale
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="">Sale Date: </label>
            <input type="text" class="form-control" ng-model="salesDetailCtrl.sale.date">
        </div>
        <hr>
        <h3>Add/Remove Drinks</h3>
        <button 
            class="btn btn-primary btn-drink" 
            ng-repeat="product in salesDetailCtrl.products"
            ng-click="salesDetailCtrl.addProduct(product)">
            {{product.name}} (<small>{{product.price | currency}}</small>)</button>
        <hr>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Product Name</th>
                    <th>Sale Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="saleItem in salesDetailCtrl.sale.saleItems">
                    <td><input type="number" ng-model="saleItem.quantity" class="form-control form-quantity"></td>
                    <td>{{saleItem.product.name}}</td>
                    <td>{{saleItem.product.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
