<div class="panel pane-defaul">
    <div class="panel-heading">
        Edit Sale
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="">Sale Date: </label>
            <input type="text" class="form-control" ng-model="salesDetailCtrl.sale.date">
        </div>

        <div class="form-group">
            <label for="customer">Customer: </label>
            <select class="form-control"
            ng-options="customer.id as (customer.firstName + ' ' + customer.lastName) for customer in salesDetailCtrl.customers"
            ng-model="salesDetailCtrl.sale.customerId">
            </select>
        </div>
        <hr>
        <h3>Add/Remove Drinks</h3>
        <button 
            class="btn btn-primary btn-drink" 
            ng-repeat="product in salesDetailCtrl.products"
            ng-click="salesDetailCtrl.addProduct(product)">
            {{product.name}} (<small>{{product.price | currency}}</small>)</button>
        <hr>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Product Name</th>
                    <th>Sale Price</th>
                    <th width="1%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="saleItem in salesDetailCtrl.sale.saleItems">
                    <td><input type="number" ng-model="saleItem.quantity" class="form-control form-quantity"></td>
                    <td>{{saleItem.product.name}}</td>
                    <td>{{saleItem.product.price}}</td>
                    <td><button class="btn btn-danger" ng-click="salesDetailCtrl.deleteProduct(saleItem)"><i class="fa fa-trash"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <button class="btn btn-success pull-right" ng-click="salesDetailCtrl.save(salesDetailCtrl.sale)"><i class="fa fa-save"></i> Save</button>
    </div>
</div>
